.header {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;

	position: sticky;
	background-color: white;
	z-index: 100;

	top: 0;
	box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
	
}

.header__left > img {
	height: 40px;
}
